* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    margin: 3rem;
    justify-content: space-evenly;  
  }

  .standard-header {
      display: flex;
      flex-direction: column;
      flex-basis:45%;
      font-size: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.3);
      overflow: scroll;
  }

  .navbar-standard {
      display: flex;
      background-color: blueviolet;
      padding: 2rem;
      color:white;
      align-items: center;
  }

  .navbar-logo-standard{
     gap: 3.5rem;
  }

  .navabar-content-standard {
      margin-left: auto;
  }

  .navabar-content-standard > span {
      margin-left: 1.8rem
  }

  .content-container{
      height: 30vh;
      font-size: 2rem;
      margin: 7px;
  }

  /* Fixed */
  .navbar-fixed {
      position: sticky;
  }

  .navbar-fixed-conatiner {
      margin-top: 2rem;
  }

  /* Dense */
  .navbar-dense{
    padding: 1.5rem
  }

  /* Prominent */
  .navbar-prominent {
      flex-basis: 45%;
      align-items: flex-start;
      position: relative;
  }

  .navbar-logo-prominent > h2 {
    position: absolute;
    left: 7.5rem;
    bottom:1rem
  }

  /* Short */
  .short-header {
      position: relative;
  }

  .navbar-short {
      position: sticky;
      top:0px;
      width:18%;
      border-radius: 0 0 2rem;
      z-index: 2
  }

  .short-navbar-content {
    margin: 7px;
    padding-top: 2rem;
    font-size: 2rem;
    position: relative;
    height: 30vh;  
    z-index: 1;
  }

  #scroll-short-header {
    overflow: scroll;
  }