@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
    background-color: #F2F2F2;
}

html {
  font-size: 62.5%;
}
.flex-conatainer {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin: 5rem;
}

.simple-drawer {
  background-color: white;
  width: 27rem;
  padding: 1rem;
  /* left: 50%;
  transform: translate(50%); */
  margin: auto;
}

.title {
  font-size: 2rem;
  padding-left: 1rem;
}

.sub-title {
  font-size: 1.5rem;
  opacity: 0.5;
  margin-bottom: 1.3rem;
  padding-left: 1rem;
  font-weight: 700;
}

.menu-text-drawer {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(0,0,0,0.8);
}

.inner-container-drawer {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
  padding: 0.7rem;
  cursor: pointer;
}

.inner-container-drawer:last-child {
  margin-bottom: 0rem;
}

.drawer-menu-icon {
  font-size: 2.4rem;
  color: rgba(0,0,0,0.6);
}

.hide-container {
  display:none;
}

.inner-container-drawer.active {
    background-color: rgba(138, 43, 226, 0.2);
    border-radius: 5px;
  }

.inner-container-drawer.active .drawer-menu-icon {
    color: blueviolet;
}

.inner-container-drawer.active .menu-text-drawer {
    color: blueviolet;
}

/* permanent drawer */
.permanent-drawer-container {
  display: grid;
  width:70%;
  grid-template-columns: 1.5fr 4.5fr;
  border: 1px solid rgba(0,0,0,0.3);
  margin:auto;
  background-color: white;
}

.side-permanent-drawer{
  border-right: 1px solid rgba(0,0,0,0.3);
}

.drawer-main-contents{
  height: 35rem;
  overflow-y: scroll;
}

.title-drawer {
  font-size: 2rem;
  padding-left: 1.5rem;
  padding-top: 2rem;
}

.subtitle-drawer {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  opacity:0.8;
}

.drawer-inner-content {
  padding: 1rem;
  padding-top: 0rem
}

.hr-line {
  height: 1.1px;
  border-width: 0;
  background-color: #E2E2E2;
}

.labels-drawer {
  padding: 1rem 1.5rem;
  opacity: 0.9;
}

.settings-gutter-top{
  padding-top: 2rem;
}

.main-container-permanent-drawer {
  overflow-y: scroll;
  height: 42.5rem
}

.toolbar-permanent-drawer {
  background-color:blueviolet;
  color: white;
  padding: 2rem 2.5rem;
  font-size: 1.5rem;
}

.typography-permanent-drawer {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.5rem
}

/* dissmisible drawer */
.dissmisible-drawer-container {
  grid-template-columns: 1fr;
}

.toolbar-dissmisible-drawer {
  display: flex;
  gap:2rem;
  align-items: center;
  padding: 1.5rem;
}

.menu-btn {
  width:4rem;
  height:4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer
}

.menu-btn:hover {
  background-color: rgba(0,0,0,0.1);
  border-radius: 50%;
}

.modal-drawer-container {
  position: relative;
  /* z-index: -1; */
}

.side-modal-drawer {
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color:white;
}

.modal-side-drawer {
  position:absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.modal-drawer-container {
  position: relative;
  grid-template-columns: 1fr;
} 

.hide-modal-drawer {
  display: none;
}