@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

.card-layout {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 5rem;
  margin: 1rem;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 35rem;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-description {
  margin: 2rem;
}

.heading-1 {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 1000;
  color: #2a81e0;
}

.heading-2 {
  opacity: 0.7;
  font-size: 1.6rem;
  font-weight: 600;
}

.heading-3 {
  font-size: 1.7rem;
  opacity: 0.7;
  margin-top: 1rem;
  padding-left: 1rem;
}

.hero-container {
  display: flex;
}

img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 7px 7px 0 0;
}

.footer {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
}

.font-button {
  color: #2a81e0;
  font-weight: 700;
  width: auto;
  padding: 7px;
}

.font-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 7px;
}

.icon-button {
  width: 4rem;
  height: 4rem;
  opacity: 0.5;
}

.icon-button:hover {
  border-radius: 50%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.material-icons {
  font-size: 2.7rem;
}

/* basic card */
.basic-card {
  max-width: 35rem;
  background-color: white;
}

.basic-card-img-container img {
  max-width: 35rem;
  max-height: 35rem;
}

.basic-card-des {
  margin: 1.2rem;
}

/* text-over-media */
.text-over-media-card {
  position: relative;
}

.text-over-media-card-des {
  position: absolute;
  top: 2rem;
  left: 0;
  color: white;
}

.text-over-media-heading-3 {
  padding-left: 10px;
  opacity: 1;
}

.text-over-media-heading-2 {
  opacity: 1;
  font-weight: 1000;
}

.text-over-media-heading-1 {
  margin-bottom: 5px;
  font-weight: 800;
  color: white;
}

/* card with header */
.card-with-header-img {
  border-radius: 0px;
}

.card-with-header-heading1 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/* card with only btn */
.footer-card-with-only-btn {
  justify-content: flex-start;
  gap: 1rem;
}

.footer-card-with-only-icons {
  justify-content: flex-end;
  gap: 1.5rem;
}

/* Horizontal image and text */
.card-horizontal-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
